<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--        id, space_id, guest_id, start_date, end_date, total_price, status, created_at, updated_at, is_deleted-->
<mapper namespace="openspace.page.mapper.ReservationMapper">

    <resultMap id="reservationListMap" type="Reservation">
        <id column="id" property="id"/>
        <result column="space_id" property="spaceId"/>
        <result column="guest_id" property="guestId"/>
        <result column="start_date" property="startDate"/>
        <result column="end_date" property="endDate"/>
        <result column="total_price" property="totalPrice"/>
        <result column="status" property="status"/>
        <result column="space_name" property="spaceName"/>
        <result column="guest_name" property="guestName"/>
    </resultMap>


    <insert id="insertReservation" parameterType="Reservation" useGeneratedKeys="true" keyProperty="id">
        insert into reservation (space_id, guest_id, start_date, end_date, total_price, status)
        values (#{spaceId}, #{guestId}, #{startDate}, #{endDate}, #{totalPrice}, #{status})
    </insert>

    <select id="findReservationListByGuestId" parameterType="Long" resultMap="reservationListMap">
        select
            r.id ,
            r.space_id,
            r.guest_id,
            r.start_date,
            r.end_date,
            r.total_price,
            r.status,
            s.title as space_name
        from reservation r
        join space s
        on r.space_id = s.id and s.is_deleted = 0
        where r.guest_id = #{guestId}
        and r.is_deleted = 0
        order by r.created_at desc
    </select>

    <select id="findReservationByHostId" parameterType="Long" resultMap="reservationListMap">
        select
            r.id ,
            r.space_id,
            r.guest_id,
            r.start_date,
            r.end_date,
            r.total_price,
            r.status,
            s.title as space_name,
            u.name as guest_name
        from reservation r
        join space s
        on s.id = r.space_id and s.is_deleted = 0
        join user u
        on u.id = r.guest_id and u.is_deleted = 0
        where s.host_id = #{id}
        and r.is_deleted =0
        order by r.id desc
    </select>

    <select id="findReservationById" resultMap="reservationListMap" parameterType="Long">
        select
            r.id,
            r.space_id,
            r.guest_id,
            r.start_date,
            r.end_date,
            r.total_price,
            r.status,
            s.title as space_name,
            u.name as guest_name
        from reservation r
        join space s on r.space_id = s.id and s.is_deleted = 0
        join user u on r.guest_id = u.id and u.is_deleted = 0
        where r.id = #{id}
        and r.is_deleted = 0
    </select>

    <update id="updateReservationStatus">
        update reservation
        set status = #{status}
        where id = #{id}
    </update>

</mapper>