<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="openspace.page.mapper.SpaceMapper">

    <!--id, host_id, title, description, address, price_per_hour, capacity, created_at, updated_at, is_deleted -->


    <insert id="insertSpace" parameterType="Space" useGeneratedKeys="true" keyProperty="id">
        insert into space (host_id, title, description, address, price_per_hour, capacity)
        values (#{hostId}, #{title}, #{description}, #{address}, #{pricePerHour}, #{capacity})
    </insert>

    <select id="findSpaceById" parameterType="Long" resultType="Space">
        select
            id as id
        , host_id as hostId
        , title as title
        , description as description
        , address as address
        , price_per_hour as pricePerHour
        , capacity as capacity
        , created_at as createdAt
        , updated_at as updatedAt
        , is_deleted as isDeleted
        from space
        where id = #{id}
        and is_deleted = 0
    </select>

    <select id="findSpaceListByHostId" parameterType="Long" resultType="Space">
        select
            id as id
             , host_id as hostId
             , title as title
             , description as description
             , address as address
             , price_per_hour as pricePerHour
             , capacity as capacity
             , created_at as createdAt
             , updated_at as updatedAt
             , is_deleted as isDeleted
        from space
        where host_id = #{hostId}
          and is_deleted = 0
        order by id desc
    </select>

</mapper>