<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="openspace.page.mapper.SpaceMapper">

    <!--id, host_id, title, description, address, price_per_hour, capacity, created_at, updated_at, is_deleted -->

    <resultMap id="spaceWithImages" type="Space">
        <id column="s_id" property="id"/>
        <result column="host_id" property="hostId"/>
        <result column="title" property="title"/>
        <result column="description" property="description"/>
        <result column="address" property="address"/>
        <result column="price_per_hour" property="pricePerHour"/>
        <result column="capacity" property="capacity"/>
        <collection property="images" ofType="SpaceImage">
            <id column="si_id" property="id"/>
            <result column="space_id" property="spaceId"/>
            <result column="image_url" property="imageUrl"/>
            <result column="is_main" property="isMain"/>
        </collection>
    </resultMap>


    <insert id="insertSpace" parameterType="Space" useGeneratedKeys="true" keyProperty="id">
        insert into space (host_id, title, description, address, price_per_hour, capacity)
        values (#{hostId}, #{title}, #{description}, #{address}, #{pricePerHour}, #{capacity})
    </insert>

    <select id="findSpaceById" parameterType="Long" resultMap="spaceWithImages">
        select s.id as s_id
             , s.host_id
             , s.title
             , s.description
             , s.address
             , s.price_per_hour
             , s.capacity
             , si.id as si_id
             , si.space_id
             , si.image_url
             , si.is_main
        from space s
        left join space_image si
        on s.id = si.space_id and si.is_deleted = 0
        where s.id = #{id}
          and s.is_deleted = 0
    </select>

    <select id="findSpaceListByHostId" parameterType="Long" resultMap="spaceWithImages">
        select s.id             as s_id
             , s.host_id        as hostId
             , s.title          as title
             , s.description    as description
             , s.address        as address
             , s.price_per_hour as pricePerHour
             , s.capacity       as capacity
             , si.id as si_id
             , si.space_id
             , si.image_url
             , si.is_main
        from space s
        left join space_image si
        on s.id = si.space_id and si.is_main = 1 and si.is_deleted = 0
        where s.host_id = #{hostId}
          and s.is_deleted = 0
        order by s.id desc
    </select>

    <select id="findSpaceListByKeyword" resultMap="spaceWithImages">
        select s.id as s_id
            , s.host_id
            , s.title
            , s.description
            , s.address
            , s.price_per_hour
            , s.capacity
            , si.id as si_id
            , si.space_id
            , si.image_url
            , si.is_main
        from space s
        left join space_image si
        on s.id = si.space_id and si.is_main = 1 and si.is_deleted = 0
        where s.is_deleted = 0
        <if test="keyword != null and keyword != ''">
            and (s.title like concat('%', #{keyword}, '%')
            or s.address like concat('%', #{keyword}, '%'))
        </if>
        order by s.id desc
        limit #{limit} offset #{offset}
    </select>

    <select id="findLatestSpace" parameterType="Integer" resultMap="spaceWithImages">
        select
            s.id as s_id,
            s.host_id,
            s.title,
            s.description,
            s.address,
            s.price_per_hour,
            s.capacity,
            si.id as si_id,
            si.space_id,
            si.image_url,
            si.is_main
        from space s
        left join space_image si
        on s.id = si.space_id and si.is_main = 1 and si.is_deleted = 0
        where s.is_deleted = 0
        order by s.id desc
        limit #{limit}
    </select>

    <select id="countSpaceListByKeyword" resultType="int">
        select count(*)
        from space
        where is_deleted = 0
        <if test="keyword != null and keyword != ''">
            and (title like concat('%', #{keyword}, '%')
            or address like concat('%', #{keyword}, '%'))
        </if>
    </select>

    <update id="updateSpace" parameterType="Space">
        update space
        set title = #{title}
            ,description = #{description}
            ,address = #{address}
            ,price_per_hour = #{pricePerHour}
            ,capacity = #{capacity}
        where id = #{id}
    </update>

    <update id="deleteSpaceById" parameterType="Long">
       update space
       set is_deleted = 1
       where id = #{spaceId}
    </update>

</mapper>